@import '../main.styles.scss';


.component__contact {
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;

    @include respond(big-desktop) {

    }

    //background-attachment: fixed does not work on some mobile browsers and safari ios
        //this is a workaround
    @include respond(phone) {
        overflow: hidden;

        &__form-wrapper {
            position: relative;
            z-index: 1;
        }
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            z-index: -2;
        }
    }
}

.home__contact { 
    background-image: url(../../assets/images/farm3_bg-large.jpg); 
    @include respond(phone) {
        //background-attachemnt: fixed does not work on some mobile browsers including safari ios
            //this is the workaround
        background-image: none;
        &::after {
            background-image: url(../../assets/images/farm3_bg-small.jpg);
        }
    }

    @include respond(big-desktop) {
        background-image: url(../../assets/images/farm3_bg-xl.jpg);
    }
}
.whoweare__contact { 
    
}
.meetthefamily__contact { 
    background-image: url(../../assets/images/family_bg-large.jpg); 
    @include respond(phone) {
        //background-image: url(../img/family_bg-small.jpg);  
        //background-attachemnt: fixed does not work on some mobile browsers including safari ios
            //this is the workaround
        background-image: none;
        &::after {
            background-image: url(../../assets/images/family_bg-small.jpg);
        }
    }

    //this image is too small to edit will need to get a bigger one
    @include respond(big-desktop) {
        //background-image: url(../img/farm3_bg-xl.jpg);
    }
}
.genetics__contact { 
    background-image: url(../../assets/images/buds3_bg-large.jpg); 
    @include respond(phone) {
        //background-image: url(../img/buds3_bg-small.jpg);
        //background-attachemnt: fixed does not work on some mobile browsers including safari ios
            //this is the workaround
        background-image: none;
        &::after {
            background-image: url(../../assets/images/buds3_bg-small.jpg);
            z-index: -2;
        }
    }

    @include respond(big-desktop) {
        background-image: url(../../assets/images/buds3_bg-xl.jpg);
    }
}

.genetics__contact {
    flex-direction: column;
    align-items: center;
}

//temporary form down thing
.contact__email-span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}