@import '../main.styles.scss';

.genetics-card {
    background-color: $color-grey-light;
    @include box-shadow-light;
    width: 27rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    @include respond(phone-med) {
        margin-left: 0;
        margin-right: 0;
        
    }

    @include respond(phone-small) {
        width: 97%;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        
    }

    &__img {
        background-color: orange;
        height: 17rem;
        margin-top: -2rem;
        @include default-skew-horizontal;
        background-size: cover;
        background-position: center;
        &:hover {
            cursor: pointer;
        }

        &--nophoto {
            @include default-unskew-horizontal;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            color: $color-white;

            &__logo,
            &__text {
                @include text-shadow;
            }

            &__logo {
                width: 8rem;
                height: 8rem;
            }
            //this is the svg fill color, fill doesn't work under logo
                //svg has a "style" set inside it under "cls-1"
            .cls-1 {
                fill: $color-white;
            }

            &__text {
                font-size: $display-font-size-small;
                font-family: $font-display-light;
            }
        }
    }

    &__header {
        margin-bottom: 0;
        color: $color-primary-green-med;
        font-size: 2rem;
    }

    &__info {
        padding: 0 2rem 2rem 2rem;
    }

    &__type,
    &__care {
        display: flex;
        align-items: center;
        padding-bottom: .5rem;
    }

    &__care {
        padding-bottom: 1rem;
    }

    &__type {
        &--icon {
           &--1 {
               fill: $color-secondary-green;
           }
           &--2 {
               fill: $color-secondary-violet;
           }
           &--3 {
               fill: $color-secondary-blue;
           }
           &--4 {
               fill: $color-primary-yellow;
           }
           &--5 {
                fill: $color-primary-yellow-dark;
           }
           &--6 {
                fill: $color-primary-green;
           }
           &--7 {
               fill: $color-secondary-orange;
           }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}