@import '../main.styles.scss';

.genetics {
    background-color: $color-white;
    padding-bottom: 20rem;
    &__header {
        background-image: url(../../assets/images/buds01_bg-large.jpg);
        padding-bottom: 5rem;

        @include respond(phone) {
            background-image: none;
            &::after {
                background-image: url(../../assets/images/buds01_bg-small.jpg);
            }
        }

        &--wrapper {
            @include respond(phone) { 
                padding: 1.5rem;
            }
        }

        @include respond(big-desktop) {
            background-image: url(../../assets/images/buds01_bg-xl.jpg);
        }
    }

    &__container {
        margin-right: 2rem;

        @include respond(tab-port) {
            margin-right: 0;
            padding: 0 2rem;
        }

        @include respond(phone) {
            padding: 0;
        }
    }

    &__key {
        &--list {
            list-style-type: none;
            display: flex;
            margin-top: 1rem;
            justify-content: center;
            flex-wrap: wrap;

            @include respond(phone) {
                flex-wrap: wrap;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

            @include respond(phone-med) {
                width: 95%;
            }
        }
        &--item {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                margin-left: 1rem;
            }

            @include respond(phone) {
                flex: 0 50%;
                &:not(:first-child) {
                    margin-left: 0;
                } 
            }
            @include respond(phone-med) {
                flex: 0 100%;
            }

            &--1 {
                color: $color-secondary-green;
                fill: $color-secondary-green;
            }

            &--2 {
                color: $color-secondary-violet;
                fill: $color-secondary-violet;
            }

            &--3 {
                color: $color-secondary-blue;
                fill: $color-secondary-blue;
            }

            &--4 {
                color: $color-primary-yellow;
                fill: $color-primary-yellow;
            }
            
            &--5 {
                color: $color-primary-yellow-dark;
                fill: $color-primary-yellow-dark;
            }

            &--6 {
                color: $color-primary-green;
                fill: $color-primary-green;
            }

            &--7 {
                color: $color-secondary-orange;
                fill: $color-secondary-orange;
            }
        }
        &--icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
    }

}

.genetics-section {
    &__p {
        margin-bottom: 4rem;
        margin-top: -2rem;
    }

    @include respond(phone) {
        &__header,
        &__p {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}